{$PORTAL_HOSTNAME} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	encode zstd gzip
	header {
		Content-Security-Policy "default-src 'self'; connect-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; form-action 'self' https://accounts.google.com; frame-ancestors 'none'; base-uri 'none'"
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
	}
	reverse_proxy {$CADDY_UPSTREAM:app:8080}
}
